<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="taskTwo">
<head>
    <title>ToDo List (Task2)</title>
    <script src="../Libraries/angular.js"></script>
    <link href="../Libraries/bootstrap.css" rel="stylesheet" />
    <link href="../Libraries/bootstrap-theme.css" rel="stylesheet" />
    <script src="todo.js"></script>
    <script src="homework.js"></script>
    
   <style>
       label{
           margin-top: 20px;
       }
       button{
           margin-top: 20px;
       }
       table{
       }
       #detail{
           width: 200px;
           padding: 5px;
           height: 100px;
           border: 1px solid black;
           margin-top: 50px;
           margin-left: 80%;
       }
    </style>
</head>
<body>

    <div class="container" ng-controller="taskTwoCtrl">

        <h3>ToDo List</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Completed</th>
                    
                </tr>
            </thead>
            <tr ng-repeat="informs in inform">
                <td>{{informs.name}}</td>
                <td>{{informs.dates}}</td>
                <td>{{showText(informs.passed)}}</td>
                
            </tr>
        </table>

        <button ng-click="detail()">Детали</button>

        <div class="form-horizontal">
           <label for="name">Name</label> <br>
            <input type="text" id="name" placeholder="Посмотреть видео урок по AngularJS" class="form-control" ng-model="pushName"> <br>
            <label for="Due">Due Date</label> <br> 
            <input type="text" id="Due" placeholder="02/18/2015" class="form-control" ng-model="pushDates"> <br>
            <label for="Description">Description</label> <br>
            <input type="text" id="Description" placeholder="Досмотреть до конца урок на itvdn.com" class="form-control" ng-model="pushDesc"> <br>    
            <label for="Completed">Completed</label> <br>
            <input type="checkbox" ng-model="pushPassed"> <br>
            
            <button class="btn btn-default" ng-click="addNew()">Add</button>
        </div>
    </div>
</body>
</html>
